# Background
Vivendo is a fast food chain in Brazil with over 200 outlets.
Customers often claim compensation from the company for food poisoning.
The legal team processes these claims. The legal team has offices in four locations.
The legal team wants to improve how long it takes to reply to customers and close claims.
The head of the legal department wants a report on how each location differs in the time it
takes to close claims.

In [1]:
import pandas as pd
import numpy as np

In [2]:
#reading the dataset
new=pd.read_csv("food_claims_2212.csv")

In [42]:
new.head(1)

,claim_id,time_to_close,claim_amount,amount_paid,location,individuals_on_claim,linked_cases,cause
0,1,317,74474.55,51231.37,RECIFE,15,False,unknown

In [5]:
# Remove the 'R$' from the claim amount column
new['claim_amount'] = new['claim_amount'].str.replace('R$ ','', regex=False)

In [41]:
new.head(1)

,claim_id,time_to_close,claim_amount,amount_paid,location,individuals_on_claim,linked_cases,cause
0,1,317,74474.55,51231.37,RECIFE,15,False,unknown

In [8]:
# Change the data type of the claim amount column from string to numeric
new['claim_amount'] = pd.to_numeric(new['claim_amount'], errors='coerce')

In [10]:
# Change the data type of the amount paid column from string to numeric
new['amount_paid'] = pd.to_numeric(new['amount_paid'], errors='coerce')

In [11]:
# Filling the missing values in amount paid column with the median amount
overall_median = new['amount_paid'].median()
new['amount_paid'].fillna(overall_median, inplace=True)

In [14]:
# Filling the missing values in linked cases column with 'False'
new['linked_cases'].fillna(False, inplace=True)

In [18]:
# Replacing the strings 'Meat' to 'meat' and 'VEGETABLES' to 'vegetable' in cause column
new['cause'] = new['cause'].str.replace('Meat','meat', case=False)
new['cause'] = new['cause'].str.replace('VEGETABLES','vegetable', case=False)

In [19]:
new.isna().any()

claim_id                False
time_to_close           False
claim_amount            False
amount_paid             False
location                False
individuals_on_claim    False
linked_cases            False
cause                   False
dtype: bool

In [20]:
new.shape[0]

2000

In [25]:
new.to_csv("food_claims.csv", index=False)